<div class="sidebarRight">
  <span class="section-item" (click)="scrollToSection('about')">
    <i class="pi pi-user"></i>
    <span class="item-title">About</span>
  </span>
  <span class="section-item" (click)="scrollToSection('education')">
    <i class="pi pi-graduation-cap"></i>
    <span class="item-title">Education</span>
  </span>
  <span class="section-item" (click)="scrollToSection('certification')">
    <i class="pi pi-graduation-cap"></i>
    <span class="item-title">Certification</span>
  </span>
  <span class="section-item" (click)="scrollToSection('experience')">
    <i class="pi pi-briefcase"></i>
    <span class="item-title">Experiences</span>
  </span>
  <span class="section-item" (click)="scrollToSection('skills')">
    <i class="pi pi-star"></i>
    <span class="item-title">Skills</span>
  </span>
  <span class="section-item" (click)="scrollToSection('projects')">
    <i class="pi pi-code"></i>
    <span class="item-title">Projects</span>
  </span>
  <span class="section-item" (click)="scrollToSection('contact')">
    <i class="pi pi-envelope"></i>
    <span class="item-title">Contact</span>
  </span>
</div>
