<router-outlet></router-outlet>
<div class="cursor-trace"></div>




<!--  <div class="flex relative flex-1">-->
<!--    &lt;!&ndash; Left Sidebar &ndash;&gt;-->
<!--    <div class="sidebar-home w-10 p-2 hidden md:block ml-10">-->
<!--      <app-sidebar></app-sidebar>-->
<!--  </div>-->

<!--    &lt;!&ndash; Main Content &ndash;&gt;-->
<!--    <div class="flex-1 p-4">-->
<!--      <app-about-home> </app-about-home>-->
<!--    </div>-->

<!--    &lt;!&ndash; Right Sidebar &ndash;&gt;-->
<!--    <div class="content-table w-10  p-4 hidden lg:block">-->
<!--      <app-table-of-contents></app-table-of-contents>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Footer -->


