body {
  -webkit-user-select: none; /* Disables text selection in WebKit browsers */
  -moz-user-select: none; /* Disables text selection in Firefox */
  -ms-user-select: none; /* Disables text selection in older versions of IE */
  user-select: none; /* Disables text selection in modern browsers */
}
