
<div class="cantainer">
  <div class="header">
    <div class="image">
      <img src="/assets/certification-header.png" alt="header">
    </div>
  </div>
  <div class="description">
    <p>
       Explore my achievements that demonstrate my expertise and commitment to continuous learning. These certifications reflect my skills across diverse technologies and domains, showcasing a relentless pursuit of excellence.
    </p>
  </div>
  <div class="certifications-header">
    <h2>IBM Certifications</h2>
  </div>
  <div class="flex">
  <div class="certification-container">
    <div class="certification-header">
      <h3>Hands-on Introduction to Linux Commands and Shell Scripting</h3>
      <p><strong>Issued by:</strong> IBM | <strong>Date:</strong> February 24, 2024</p>
    </div>
    <div class="certification-content">
      <h4>Skills Gained:</h4>
      <ul>
        <li>Shell Scripting</li>
        <li>Bash (Unix Shell)</li>
        <li>Extract, Transform, and Load (ETL)</li>
        <li>Linux</li>
        <li>Linux Commands</li>
      </ul>
      <button class="details-button">View Certification</button>
    </div>
  </div>
  <div class="certification-container">
    <div class="certification-header">
      <h3>Training in Application Development with the use of Microservices and Serverless Computing</h3>
      <p><strong>Issued by:</strong> IBM | <strong>Date:</strong> January 30, 2024</p>
    </div>
    <div class="certification-content">
      <div class="left-column">
        <h4>Skills Gained:</h4>
        <ul>
          <li>Representational State Transfer (REST)</li>
          <li>Cloud Applications</li>
          <li>Openshift</li>
          <li>Microservices</li>
          <li>Serverless</li>
        </ul>
      </div>
      <div class="right-column">
        <button class="details-button">View Certification</button>
      </div>
    </div>
  </div>
  </div>
  <div class="certifications-header">
    <h2>OpenClassrooms Certifications</h2>
  </div>
  <div class="flex">
    <div class="certification-container">
      <div class="certification-header">
        <h3>Développez des sites web avec Java EE</h3>
        <p><strong>Issued by:</strong> OpenClassroom | <strong>Date:</strong> 2022</p>
      </div>
      <div class="certification-content">
        <div class="left-column">
          <h4>Skills Gained:</h4>
          <ul>
            <li>Java EE Fundamentals</li>
            <li>Web Application Development</li>
            <li>Servlets and JSP</li>
            <li>Database Integration</li>
            <li>Web Security Practices</li>
          </ul>
        </div>
        <div class="right-column">
          <button class="details-button">View Certification</button>
        </div>
      </div>
    </div>
    <div class="certification-container">
      <div class="certification-header">
        <h3>Découvrez les bases de la sécurité numérique</h3>
        <p><strong>Issued by:</strong> OpenClassroom | <strong>Date:</strong> 2022</p>
      </div>
      <div class="certification-content">
        <div class="left-column">
          <h4>Skills Gained:</h4>
          <ul>
            <li>Understanding Digital Security Basics</li>
            <li>Risk Analysis and Threat Identification</li>
            <li>Data Protection Techniques</li>
            <li>Security Best Practices</li>
            <li>Introduction to Cybersecurity Policies</li>
          </ul>
        </div>
        <div class="right-column">
          <button class="details-button">View Certification</button>
        </div>
      </div>
    </div>

  </div>
  <div class="certification-container">
    <div class="certification-header">
      <h3>Gérez votre projet informatique facilement</h3>
      <p><strong>Issued by:</strong> OpenClassroom | <strong>Date:</strong> 2023</p>
    </div>
    <div class="certification-content">
      <div class="left-column">
        <h4>Skills Gained:</h4>
        <ul>
          <li>Project Management Fundamentals</li>
          <li>Agile and Scrum Methodologies</li>
          <li>Effective Team Collaboration</li>
          <li>Planning and Risk Management</li>
          <li>Using Digital Tools for Project Tracking</li>
        </ul>
      </div>
      <div class="right-column">
        <button class="details-button">View Certification</button>
      </div>
    </div>
  </div>

  </div>
