<div class="cantainer">
  <div class="header">
    <div class="image">
      <img src="/assets/skills-header.png" alt="header">
    </div>
  </div>
  <div class="skills-container">
    <div class="skills-section">
      <h2>Technical Skills</h2>
      <div class="skills-category">
        <h3>Programming Languages</h3>
        <div class="skill-list">
          <span>C</span><span>C++</span><span>C#</span><span>Java</span><span>JEE</span><span>JavaScript</span><span>Python</span><span>PHP</span><span>TypeScript</span>
        </div>
      </div>

      <div class="skills-category">
        <h3>Frameworks & Libraries</h3>
        <div class="skill-list">
          <span>Spring</span><span>React.js</span><span>Chart.js</span><span>Angular</span><span>Laravel</span><span>.NET Core</span><span>Spring Cloud</span><span>FastAPI</span><span>Spring Security</span><span>Express.js</span><span>Flask</span><span>Next.js</span><span>Django</span><span>Radix UI</span><span>Angular Material</span><span>NGX-Translate</span>
        </div>
      </div>

      <div class="skills-category">
        <h3>DevOps & Cloud Technologies</h3>
        <div class="skill-list">
          <span>Docker</span><span>Kubernetes</span><span>Jenkins</span><span>OpenShift</span><span>Microservices</span><span>Serverless</span><span>Ansible</span><span>Bash Scripting</span><span>AWS</span><span>CI/CD Pipelines</span><span>Terraform</span><span>SonarQube</span>
        </div>
      </div>

      <div class="skills-category">
        <h3>APIs & Integration</h3>
        <div class="skill-list">
          <span>RESTful APIs</span><span>GraphQL</span><span>SOAP</span>
        </div>
      </div>

      <div class="skills-category">
        <h3>Security</h3>
        <div class="skill-list">
          <span>JWT</span><span>OAuth 2.0</span><span>SSL/TLS</span><span>Data Encryption</span><span>Keycloak</span><span>Clerk</span>
        </div>
      </div>

      <div class="skills-category">
        <h3>Modeling & Methodologies</h3>
        <div class="skill-list">
          <span>UML</span><span>SysML</span><span>Merise</span><span>Scrum</span><span>Design Patterns</span>
        </div>
      </div>

      <div class="skills-category">
        <h3>Design & Collaboration</h3>
        <div class="skill-list">
          <span>Figma</span><span>Balsamiq</span><span>Jira</span><span>Trello</span><span>Notion</span><span>YouTrack</span><span>Slack</span><span>Linear</span>
        </div>
      </div>

      <div class="skills-category">
        <h3>Version Control</h3>
        <div class="skill-list">
          <span>Git</span><span>GitHub</span><span>GitLab</span>
        </div>
      </div>

      <div class="skills-category">
        <h3>Testing</h3>
        <div class="skill-list">
          <span>Swagger</span><span>PyTest</span><span>Playwright</span>
        </div>
      </div>

      <div class="skills-category">
        <h3>Database Management</h3>
        <div class="skill-list">
          <span>MySQL</span><span>SQLServer</span><span>PostgreSQL</span><span>MongoDB</span><span>Oracle</span><span>Redis</span><span>Query Optimization</span><span>Database Indexing</span>
        </div>
      </div>
    </div>

    <div class="skills-section">
      <h2>Soft Skills</h2>
      <div class="skills-category">
        <div class="skill-list">
          <span>Time Management</span><span>Teamwork</span><span>Adaptability</span><span>Problem Solving</span><span>Leadership</span><span>Critical Thinking</span><span>Creativity</span>
        </div>
      </div>
    </div>
  </div>


</div>
