<div class="h-full sid flex items-center justify-center bg-gray-100">
  <div class="social-icons-container">
    <div class="social-icons">

      <a href="https://www.linkedin.com/in/tarikkerrou/" target="_blank" class="icon">
        <i class="pi pi-linkedin"></i>
      </a>
      <a href="https://github.com/tarikkerrou" target="_blank" class="icon">
        <i class="pi pi-github"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="icon">
        <i class="pi pi-twitter"></i>
      </a>
      <a href="https://www.facebook.com/share/15LSHev7fu/?mibextid=LQQJ4d" target="_blank" class="icon">
        <i class="pi pi-facebook"></i>
      </a> <a href="https://www.instagram.com/tarikinnovator?igsh=OHBiMmgxbGo4MWo2&utm_source=qr" target="_blank" class="icon">
        <i class="pi pi-instagram"></i>
      </a>
    </div>
  </div>
</div>
