<div class="cantainer">
  <div class="header">
    <div class="image">
      <img src="/assets/axperiences-header.png" alt="header">
    </div>
  </div>

  <div class="experience-container">
    <div class="experience-header-ab">
      <div class="company-logo">
        <img src="/assets/abrid-logo.svg" alt="Abrid Logo" />
      </div>
      <div class="experience-details">
        <h3>Full-Stack Software Developer</h3>
        <p>
          <span><strong>Company:</strong> Abrid Solution</span> |
          <span><strong>Date:</strong> 10/2024 – Present</span> |
          <span><strong>Location:</strong> Marrakech</span> |
          <span><strong>Contract:</strong> Internship</span>
        </p>
      </div>
    </div>

    <div class="experience-content">
      <h4>Subject:</h4>
      <p>
        Designed and developed a tourism platform to simplify creating, managing, and sharing customized trips.
        Features include real-time itinerary planning, destination exploration, and seamless booking management.
      </p>

      <div class="technologies">
        <h4>Technologies & Tools:</h4>
        <div class="skills-pipeline">
          <span class="skill">Python (Flask)</span>
          <span class="skill">Microservices</span>
          <span class="skill">React.js</span>
          <span class="skill">Next.js</span>
          <span class="skill">PostgreSQL</span>
          <span class="skill">Tailwind CSS</span>
          <span class="skill">Docker</span>
          <span class="skill">Slack</span>
          <span class="skill">Linear</span>
        </div>
      </div>

      <div class="skills-description">
        <h4>Skills Description:</h4>
        <p>
          As part of the project, I utilized Python (Flask) for backend API development, Microservices for scalable architecture,
          and React.js & Next.js for building a responsive, dynamic frontend. PostgreSQL was employed for database management,
          while Docker ensured a consistent development environment. Tailwind CSS was used for styling, and tools like Slack and Linear
          were used for team collaboration and task management.
        </p>
      </div>

      <button class="show-details-btn" routerLink="/route/experiences">Show More Details</button>
      <div class="extra-details" style="display:none;">
        <p>
          The platform allows users to explore destinations, plan itineraries in real-time, and manage bookings seamlessly.
          Additionally, features like real-time notifications, payment integration, and admin controls were included to optimize
          the user experience for both customers and operators.
        </p>
      </div>
    </div>
  </div>
  <div class="experience-container">
    <div class="experience-header-te">
      <div class="company-logo">
        <img src="/assets/te-connectivity-logo.png" alt="TE Connectivity Logo" />
      </div>
      <div class="experience-details">
        <h3>IT Business Analyst </h3>
        <p>
          <span><strong>Company:</strong> TE Connectivity</span> |
          <span><strong>Date:</strong> 02/2024 – 07/2024</span> |
          <span><strong>Location:</strong> Tanger</span> |
          <span><strong>Contract:</strong> Internship</span>
        </p>
      </div>
    </div>

    <div class="experience-content">
      <h4>Subject:</h4>
      <p>
        Pioneering the Ingenii Platform: Automating Root Cause Analysis to Minimize Production Downtime and Optimize Supply Chain Efficiency.
      </p>

      <div class="technologies">
        <h4>Technologies & Tools:</h4>
        <div class="skills-pipeline">
          <span class="skill">Python (FastAPI)</span>
          <span class="skill">Microservices</span>
          <span class="skill">Angular</span>
          <span class="skill">SysML</span>
          <span class="skill">UML</span>
          <span class="skill">PostgreSQL</span>
          <span class="skill">SQL Server</span>
          <span class="skill">RPA (UiPath)</span>
          <span class="skill">PrimeNG</span>
          <span class="skill">Tailwind CSS</span>
          <span class="skill">Docker</span>
        </div>
      </div>

      <div class="skills-description">
        <h4>Skills Description:</h4>
        <p>
          As part of this project, I led the development of the Ingenii Platform, which automates root cause analysis for production downtime. The platform uses Python (FastAPI) for building scalable APIs, Microservices for system architecture, and Angular for the frontend. I utilized SysML and UML for system design, while PostgreSQL and SQL Server managed the database. I also worked on RPA (UiPath) for task automation and PrimeNG & Tailwind CSS for front-end styling. Docker provided a consistent development and deployment environment.
        </p>
      </div>

      <button class="show-details-btn" routerLink="/route/experiences">Show More Details</button>

    </div>
  </div>

  <div class="experience-container">
    <div class="experience-header-alb">
      <div class="company-logo">
        <img src="/assets/allobaba-logo.png" alt="Allobaba Digital Marketing Agency Logo" />
      </div>
      <div class="experience-details">
        <h3>Full-Stack Software Engineer</h3>
        <p>
          <span><strong>Company:</strong> Allobaba Digital Marketing Agency</span> |
          <span><strong>Date:</strong> 07/2023 – 09/2023</span> |
          <span><strong>Location:</strong> Marrakech</span> |
          <span><strong>Contract:</strong> Internship</span>
        </p>
      </div>
    </div>

    <div class="experience-content">
      <h4>Subject:</h4>
      <p>
        Development of a CRM Application for Call Center with Advanced Features for Customer Relationship and Human Resources Management.
      </p>

      <div class="technologies">
        <h4>Technologies & Tools:</h4>
        <div class="skills-pipeline">
          <span class="skill">Java</span>
          <span class="skill">Spring Boot</span>
          <span class="skill">Spring Security</span>
          <span class="skill">Angular</span>
          <span class="skill">UML</span>
          <span class="skill">MySQL</span>
          <span class="skill">Notion</span>
        </div>
      </div>

      <div class="skills-description">
        <h4>Skills Description:</h4>
        <p>
          During this internship, I was responsible for developing a CRM application for call center management. The application was built using Java and Spring Boot for robust back-end functionality, while Spring Security was used for secure authentication. Angular was utilized for building dynamic and responsive front-end features. I leveraged UML for system modeling and MySQL for managing the relational database. Additionally, I used Notion to document project details and track progress throughout development.
        </p>
      </div>

      <button class="show-details-btn" routerLink="/route/experiences">Show More Details</button>
    </div>
  </div>
  <div class="experience-container">
    <div class="experience-header-min">
      <div class="company-logo">
        <img src="/assets/minnova-logo.png" alt="MINNOVA Consulting Logo" />
      </div>
      <div class="experience-details">
        <h3>Full-Stack Software Engineer (First-Year Internship)</h3>
        <p>
          <span><strong>Company:</strong> Agence MINNOVA Consulting</span> |
          <span><strong>Date:</strong> 07/2022 – 08/2022</span> |
          <span><strong>Location:</strong> Tinghir</span> |
          <span><strong>Contract:</strong> Internship</span>
        </p>
      </div>
    </div>

    <div class="experience-content">
      <h4>Subject:</h4>
      <p>
        Development of a Stock Management Application for Supermarket Inventory Tracking and Operational Issue Resolution.
      </p>

      <div class="technologies">
        <h4>Technologies & Tools:</h4>
        <div class="skills-pipeline">
          <span class="skill">PHP</span>
          <span class="skill">Laravel</span>
          <span class="skill">Angular</span>
          <span class="skill">Merise</span>
          <span class="skill">MySQL</span>
        </div>
      </div>

      <div class="skills-description">
        <h4>Skills Description:</h4>
        <p>
          During this internship, I worked on developing a stock management application to improve inventory tracking and address operational issues in a supermarket setting. The application was built using PHP and Laravel for the backend, ensuring smooth inventory operations and data management. The frontend was developed with Angular to provide a dynamic user interface. I utilized Merise methodology for system modeling and MySQL for managing inventory data and storing transactional information.
        </p>
      </div>

      <button class="show-details-btn" routerLink="/route/experiences">Show More Details</button>
    </div>
  </div>


</div>
