<div class="container mx-auto">
  <!-- Top Navigation -->
  <nav class="flex justify-between items-center p-4">
    <div class="flex items-center justify-center bg-gradient-to-r from-teal-400 to-blue-500 p-4 rounded-full shadow-lg">
      <div class="text-4xl font-extrabold text-white tracking-wide">
        Tarik.
      </div>
    </div>
    <!-- Navigation Links -->
    <div class="nav-links flex items-center space-x-6">
      <a
        class="text-blue-900 hover:text-blue-600 transition duration-300"
        routerLink="/home">
        Home
      </a>
      <a
        routerLink="/route/hire"
      class="bg-yellow-400 text-white font-semibold border-2 border-yellow-400 px-4 py-2 rounded-full hover:bg-yellow-500 transition duration-300">
        Hire Me
      </a>
      <a
        routerLink="/route/experiences"
        class="text-blue-900 hover:text-blue-600 transition duration-300">
        Experiences
      </a>
      <a
        routerLink="/route/certs"
        class="text-blue-900 hover:text-blue-600 transition duration-300">
        Certification
      </a>
      <a
        routerLink="/route/project"
        class="text-blue-900 hover:text-blue-600 transition duration-300">
        Projects
      </a>

      <!-- CV Download Section -->
      <div class="cv-download flex items-center space-x-4 p-3 bg-gray-100 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
        <!-- CV Download Link -->
        <a
          [href]="selectedCV"
          target="_blank"
          class="text-blue-900 font-semibold underline hover:text-blue-600 hover:no-underline transition duration-300 text-lg">
          Download CV
        </a>

        <!-- Language Selection Dropdown -->
        <select
          id="cv-toggle"
          [(ngModel)]="selectedLanguage"
          (change)="updateCV()"
          class="border border-gray-300 rounded-full px-3 py-2 text-blue-900 bg-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300">
          <option value="english">English</option>
          <option value="french">French</option>
        </select>
      </div>

    </div>
  </nav>


</div>
